html, body{
	width: 100%;
	height: 100%;
	font-size: 16px;
}

@font-face {
    font-family: NexaBlack;
    src: url(../fonts/NexaBlack.otf);
}

@font-face {
    font-family: NexaBold;
    src: url(../fonts/NexaBold.otf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.ttf);
}

/*- Menu Icon -*/

.menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    margin: 10px;
    z-index: 40;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #511B73;
    margin: 6px;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*- Intro Section -*/

.intro{
	background-color: #FFE000;
	background-image: url('../images/intro.png');
	background-size: auto 100%;
	background-position: 60%;
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: hidden;
	padding: 10px;
}

.intro h1{
	position: relative;
	text-align: right;
	font-family: NexaBlack;
	text-transform: uppercase;
	line-height: 0.8em;
	font-size: 3.6em;
	color: #5D5D5D;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.logo-m{
	position: absolute;
	top: 37.5%;
	margin: 0 auto;
	width: 60%;
}

.logo-m img{
	width: 100%;
}

.classes{
	background-color: #424242;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.classes .description{
	color: white;
	font-family: Lato;
	text-align: justify;
	width: 80%;
	margin-top: 4em;
}

.classes h1{
	text-transform: uppercase;
	color: rgba(255,255,255,0.1);
	font-family: NexaBlack;
	font-size: 4em;
	margin-top: 32px;
	margin-bottom: 32px;
}

.classes-btns{
	width: 90%;
	max-width: 600px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.classes-btns .pole-btn{
	width: 300px;
	height: 300px;
	margin: 0;
	background: #AA00FF;
	position: relative;
    background: -webkit-linear-gradient(top, #AA00FF, #D500F9);
    background: -o-linear-gradient(top, #AA00FF, #D500F9);
    background: linear-gradient(to bottom, #AA00FF, #D500F9);
    margin-bottom: 32px;
}

.classes-btns .pole-btn div{
	height: 100%;
	width: 100%;
	background-image: url('../images/intro.png');
	background-size: 200% auto;
	background-position: 70%;
	position: absolute;
	z-index: 30;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.classes-btns .pole-btn h2{
	font-family: NexaBlack;
	color: rgba(255,255,255,0.7);
	text-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	text-transform: uppercase;
	font-size: 3em;
	text-align: right;
}

.classes-btns .zumba-btn{
	width: 300px;
	height: 300px;
	margin: 0;
	background: #FFE000;
	position: relative;
    background: -webkit-linear-gradient(top, #FFE000, #FBC02D);
    background: -o-linear-gradient(top, #FFE000, #FBC02D);
    background: linear-gradient(to bottom, #FFE000, #FBC02D);
    margin-bottom: 32px;
}

.classes-btns .zumba-btn div{
	height: 100%;
	width: 100%;
	background-image: url('../images/zumba.png');
	background-size: 100% auto;
	background-position: 70%;
	position: absolute;
	z-index: 30;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.classes-btns .zumba-btn h2{
	font-family: NexaBlack;
	color: rgba(255,255,255,0.8);
	text-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	text-transform: uppercase;
	font-size: 3em;
	text-align: right;
}

.classes-btns .gap-btn{
	width: 300px;
	height: 300px;
	margin: 0;
	background: #F50057;
	position: relative;
    background: -webkit-linear-gradient(top, #F50057, #C51162);
    background: -o-linear-gradient(top, #F50057, #C51162);
    background: linear-gradient(to bottom, #F50057, #C51162);
    margin-bottom: 32px;
}

.classes-btns .gap-btn div{
	height: 100%;
	width: 100%;
	background-image: url('../images/gap.png');
	background-size: 250% auto;
	background-position: 95% 100%;
	position: absolute;
	z-index: 30;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.classes-btns .gap-btn h2{
	font-family: NexaBlack;
	color: rgba(255,255,255,0.8);
	text-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	text-transform: uppercase;
	font-size: 3em;
	text-align: right;
}

.classes-btns .aero-btn{
	width: 300px;
	height: 300px;
	margin: 0;
	background: #1DE9B6;
	position: relative;
    background: -webkit-linear-gradient(top, #1DE9B6, #00BFA5);
    background: -o-linear-gradient(top, #1DE9B6, #00BFA5);
    background: linear-gradient(to bottom, #1DE9B6, #00BFA5);
    margin-bottom: 32px;
}

.classes-btns .aero-btn div{
	height: 100%;
	width: 100%;
	background-image: url('../images/aerobics.png');
	background-size: 200% auto;
	background-position: 75%;
	position: absolute;
	z-index: 30;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.classes-btns .aero-btn h2{
	font-family: NexaBlack;
	color: rgba(255,255,255,0.8);
	text-shadow: 0px 0px 6px rgba(0,0,0,0.3);
	text-transform: uppercase;
	font-size: 3em;
	text-align: right;
}

.motivational{
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	position: relative;
	padding-top: 3em;
	padding-bottom: 3em;
}

.motivational .mark{
	font-family: NexaBold;
	color: rgba(0,0,0,0.2);
	font-size: 6em;
	font-style: italic;
}

.motivational .left{
	margin-left: 10px;
}

.motivational .right{
	margin-right: 40px;
	margin-top: 120px;
}

.motivational .phrase{
	font-family: NexaBold;
	color: #212121;
	text-transform: uppercase;
	font-size: 1.6em;
	position: absolute;
	text-align: center;
	width: 100%;
}

.motivational .phrase span{
	font-family: NexaBlack;
}

.studio{
	background-color: white;
	width: 100%;
 	display: flex;
 	justify-content: center;
 	flex-direction: column;
}

.studio h1{
	text-transform: uppercase;
	color: #FFE000;
	font-family: NexaBlack;
	font-size: 3em;
	width: 100%;
	padding: 5px;
	opacity: 0.55;
}

.studio .install{
	width: 50%;
	height: 300px;
	position: relative;
	background-image: url('../images/st3.JPG');
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: stretch;
}

.studio .install div{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.studio .install div p{
	height: 100%;
}